
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.error-log {
  border-radius: 5px;
  .error {
    font-size: 120%;
    padding: 1%;
  }
}